.inside{
    width: 600px;
    color: aliceblue;
    text-align: center;
    padding: 100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.432);
  
}
.inside h1{
    font-size: 50px;
    font-weight: 700;
}